---
layout: blog
root: ../
---

<p>
Readings will be assigned regularly. You are asked to write a blog entry in response to a related question. More details will follow.
</p>

<h2>Topics</h2>

{% assign now = site.time | date: '%s' %}



<ol>
  {% for topic in site.topics %}
  {% assign due = topic.due-date | date: '%B %d, %Y' %}
  {% assign due_unix = topic.due-date | date: '%s' %}
  <li>
  	  <a href="{{ topic.topic }}">{{ topic.short-topic }}</a>
  	  <span>{% if now <= due_unix %} (due {{ due }}) {% endif %}</span>
  </li>
  {% endfor %}
</ol>
